.heroC-section{
    .container{
        @include flex(row, center, space-between);
        position: relative;
        
    }
}

.heroC{
    width: 1111px;
    height: 480px;
    margin-top: 170px;
    background: #E7816B;
    border-radius: 15px;
    color: #fff;
    padding: 55px 96px;
    @include flex(row, center, space-between);
    background-image: url(../../images/Oval.png);
    background-repeat: no-repeat;
    background-position-y: -120px;
    background-position-x: -20px;
    
    &__info{
        width: 445px;
        
        &--heading{
            font-weight: 500;
            font-size: 48px;
            line-height: 48px;
            margin: 0;
            margin-bottom: 32px;
        }
        
        &--text{
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
        }
    }
    
    .form{
        display: table;
        width: 380px;
        height: 371px;
        
        label{
            width: 380px;
            background: #E7816B;
            
            input{
                padding-bottom: 11px;
                border: none;
                border-bottom: 1px solid white;
                width: 380px;
                background: #E7816B;
                margin-bottom: 25px;
                &::placeholder{
                    color: #FFFFFF;
                    opacity: 0.5;
                }
            }
        }
        
        textarea{
            width: 100%;
            display: block;
            background: #E7816B;
            border: none;
            border-bottom: 1px solid white;
            resize: none;
            padding-bottom: 65px;
            &::placeholder{
                color: #fff;
                opacity: 0.5;
            }
        }
        
        button{
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            border: none;
            color: #333136;
            padding: 17px 47px;
            background: #FFFFFF;
            border-radius: 8px;
            margin-top: 24px;
            margin-left: 230px;
        }
    }
}

.contact-button{
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 16px 18px;
    color: #FFFFFF;
    border: none;
    background: #E7816B;
    border-radius: 8px;
}

.contact-footer{
    margin-top: 160px;
}